

{% extends 'layouts/base.html' %}
{% load static %}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'assets/css/llmcoach.css' %}">

{% endblock extrastyle %}


{% block content %}

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{% static 'assets/js/chat.js' %}"></script> 


<div id="conversation">

  <div id="conversation">
    {% for message in conversation %}
        <div class="{{ message.role }}-messages">
            <!-- Assume message.content contains markdown formatted text -->
            <div class="markdown-content">{{ message.content | escape }}</div><endl> 
        </div>
    {% endfor %}
  </div>

<form id="chat-form" method="POST">
    {% csrf_token %}
    <textarea id="user-input" name="user_input" placeholder="Your message"></textarea>
    <button type="submit" id="send-button">Send</button>
</form>


{% endblock %}

