

{% extends 'layouts/base.html' %}
{% load static %}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'assets/css/llmcoach.css' %}">

{% endblock extrastyle %}


{% block content %}
<div id="conversation">

    {% for message in conversation %}
      <div class="{{ message.role }}-messages">
        <p>{{ message.role|title }}: <span class="message-content">{{ message.content | escape }}</span></p>
        {% if message.is_output %}
          <span class="copy-icon" onclick="copyToClipboard(this)">📋</span>
        {% endif %}
      </div>
    {% endfor %}

</div>

<form id="chat-form" method="POST">
    {% csrf_token %}
    <textarea id="user-input" name="user_input" placeholder="Your message"></textarea>
    <button type="submit" id="send-button">Send</button>
</form>

 <script src="{% static 'assets/js/chat.js' %}"></script> 

{% endblock %}

