# Core
django==4.1.12
python-dotenv==1.0.0

# # UI 
# django-admin-datta==1.0.10

# # Tooling
# django-dynamic-datatb==1.0.25
# django-api-generator==1.0.17
# django-debug-toolbar==4.2.0

# Deployment
# whitenoise==6.5.0
# gunicorn==21.2.0

# DB Layer
# psycopg2-binary
# mysqlclient

django-tailwindcss==0.4.0
django-cas-ng==5.0.1

# Git API
python_gitlab
openai==0.28

#RESTFRAMEWORK
djangorestframework==3.14.0
uwsgi==2.0.23
python-dotenv