{% extends 'layouts/base.html' %}
{% load static %}

{% block extrastyle %}

<link rel="stylesheet" href="{% static 'assets/css/customIndex.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  /* Responsive table */
  .table-responsive {
      overflow-x:hidden ;
  }

  /* Word wrapping in table cells */
  .table td, .table th {
      white-space: normal;
      word-wrap: break-word;
  }

  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
      .grid {
          grid-template-columns: 1fr; /* Single column layout on smaller screens */
      }
  }

  /* Additional styles to separate buttons and handle long team names */
.table .a {
  margin-right: 120px; /* Add space between buttons */
}
{% comment %} 
/* This will ensure text goes to the next line if too long */
.table td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} {% endcomment %}

/* This will apply a tooltip-like effect to show full name on hover */
.table td .full-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



td a {
  margin: 10px;
  padding: 100px;
}
/* Responsive handling for smaller screens */
@media screen and (max-width: 600px) {
  .table td .full-name:hover {
    max-width: none;
  }
  .table td {
    white-space: normal;
  }
}

</style>
{% endblock extrastyle %}

{% block content %}
    <div class="grid grid-cols-2 gap-4 p-4">

    <div class="row">
    
      
        <!--[ Recent Users ] start-->
        <div class="col-xl-12 col-md-12">
          <div class="card Recent-Users">
    
            {% if data.team_data.items %}
    
              <div class="card-header">
                <h5>Dashboard
                  <a href="#" id="refreshLink" class="label theme-bg2 text-white f-12" ><i class="fa fa-refresh"></i>
                  </a>
                </h5>
                <div id="loadingMessage" style="display: none;">Please wait, the data is being updated...</div>

                <!-- Include jQuery library -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                <script>
                  $(document).ready(function() {
                    $('#refreshLink').click(function(e) {
                      e.preventDefault(); // Prevent default link behavior (i.e., navigating to #)

                      // Show loading message while the update_repo process is running
                      $('#loadingMessage').show();

                      $.ajax({
                        url: 'update_repo/',
                        method: 'GET',
                        success: function(response) {
                          // Hide loading message after successful update_repo execution
                          $('#loadingMessage').hide();
                          // Reload the current page after successful update_repo execution
                          location.reload()
                        },
                        error: function(xhr, status, error) {
                          $('#loadingMessage').hide();
                          // Handle errors
                          console.error('Error:', error);
                        }
                      });
                    });
                  });
                </script>
              </div>

              <div class="card-block px-0 py-3">
                <div class="table-responsive">
                  <table class="table table-hover">

                    <thead>
                      <tr>
                        <th></th>
                        <th>Team Name</th>
                        <th>Number of branches</th>
                        <th>Branches behind main</th>
                        <th>Branches ahead main</th>
                        <th>Commit Quality</th>
                        <th>Moods</th>
                        <th>Time Stamp</th>
                      </tr>
                    </thead>
    
                    <tbody>
                        {% for team, data in data.team_data.items %}
    
                        <tr class="unread">
                          <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-1.jpg' %}"
                              alt="activity-user">
                          </td>
                         
                          <td>
                            <h6 class="mb-1">{{ team.teamName }}</h6>
                            {% comment %} <p class="m-0">{{ p.info }}</p> {% endcomment %}
                          </td>

                          <td>
                            <h6 class="text-muted">
                                <i>{{ data.repo.branchNumber }}</i>
                            </h6>
                          </td>

                          <td>
                            <h6 class="text-muted">
                                <i>{{ data.repo.branchBehindMax }}</i>
                            </h6>
                          </td>

                          <td>
                            <h6 class="text-muted">
                                <i>{{ data.repo.branchAheadMax }}</i>
                            </h6>
                          </td>

                          <td>
                            <h6 class="text-muted">
                                <i>{{ data.repo.commitQuality }}</i>
                            </h6>
                          </td>
                          
                          <td>
                            <h6 class="text-muted">
                              <i>{{ data.mood }}</i>
                            </h6>
                          </td>

                          <td>
                            <h6 class="text-muted">
                                <i>{{ data.repo.timeStamp }}</i>
                            </h6>
                          </td>

                          <td>
                            <a href="team_view/?teamName={{ team.teamName }}" class="label theme-bg2 text-white f-12">View</a>
                            <a href="suppressTeam/?teamName={{ team.teamName }}" class="label theme-bg text-white f-12"><i class="fa fa-trash"></i></a>
                          </td>
                        </tr>
    
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div style="text-align: center;">
                  <a href="{% url 'dashboard:add_new_token' %}" style="display: inline-block; font-size: 32px;">
                      <i class="fa fa-plus-circle"></i>
                  </a>
              </div>
                            </div>
    
            {% else %}
            <div class="card-header">
              <h5>Dashboard
                <a href="#" id="refreshLink" class="label theme-bg2 text-white f-12" >Refresh
                </a>
              </h5>
              <div id="loadingMessage" style="display: none;">Please wait, the data is being updated...</div>

              <!-- Include jQuery library -->
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

              <script>
                $(document).ready(function() {
                  $('#refreshLink').click(function(e) {
                    e.preventDefault(); // Prevent default link behavior (i.e., navigating to #)

                    // Show loading message while the update_repo process is running
                    $('#loadingMessage').show();

                    $.ajax({
                      url: 'update_repo/',
                      method: 'GET',
                      success: function(response) {
                        // Hide loading message after successful update_repo execution
                        $('#loadingMessage').hide();
                        // Reload the current page after successful update_repo execution
                        location.reload()
                      },
                      error: function(xhr, status, error) {
                        $('#loadingMessage').hide();
                        // Handle errors
                        console.error('Error:', error);
                      }
                    });
                  });
                });
              </script>
            </div>

            <div class="card-block px-0 py-3">
              <div class="table-responsive">
                <table class="table table-hover">

                  <thead>
                    <tr>
                      <th></th>
                      <th>Team Name</th>
                      <th>Number of branches</th>
                      <th>Branches behind main</th>
                      <th>Branches ahead main</th>
                      <th>Commit Quality</th>
                      <th>Moods</th>
                      <th>Time Stamp</th>
                    </tr>
                  </thead>
  
                  <tbody>
                     
                  </tbody>
                </table>
              </div>
            </div>
              {% endif %}
{% endblock %}
